HTML
{
	margin: 0;
	padding: 0;
}
BODY
{
	margin: 0;
	padding: 0;
}
#logo
{
	width: 100%;
}
#menu NAV
{
	display: none;
}
.comp DIV
{
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
}
#mobile
{
	display: block;
	margin-top: 5em;
	padding-bottom: 5em;
	padding-top: 2em;
}
.comp
{
	float: right;
	margin-right: 1em;
	margin-top: 0.5em;
}
.voci
{
	float: none;
	text-align: center;
	align-content: center;
	margin: 0;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.nodot
{
	width: 100%;
}
#LatestBundles
{
	float: none;
	width: 100%;
}
#Bestsellers
{
	margin: 0;
	width: 100%;
}
.imgbs
{
	width: 50%;
}
#mobile
{
	background-color: #21ACF4;
}
#searchBar
{
	float: none;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
#searchButton
{
	/*margin-left: 25%;*/
	/*margin-right: 0;*/
	margin: 0;
}
.imgbestseller
{
	margin-top: 1em;
	width: 50%;
	float: right;
}
