HTML
{
	margin: 0;
	padding: 0;
}
BODY
{
	margin: 0;
	padding: 0 1%;
    width: 98%;
}
#logo
{
	width: 100%;
}
#menu NAV
{
	display: none;
}
#aiuto
{
	left: 45%;
}
.comp DIV
{
	width: 2em;
	margin: 6px 0;
	border: 2px solid #004D66;
}
#mobile
{
	display: block;
	margin-top: 5em;
	padding-bottom: 20em;
	padding-top: 2em;
}
.comp
{
	float: right;
	margin-right: 1em;
	margin-top: 0.5em;
	border: 2px solid #004D66;
	padding: 0 0.3em;
}
.voci
{
	float: none;
	text-align: center;
	/*align-content: center;*/
	margin: 0;
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}
.nodot
{
	width: 100%;
}
#LatestBundles
{
	float: none;
	width: 100%;
	margin-bottom: 1em;
	border: none;
	overflow: auto;
	padding: 0;
}
#Bestsellers
{
	margin: 0;
	width: 100%;
	padding: 0;
	border: none;
	overflow: auto;
}
.bundle
{
	width: 98%;
	margin-left: 1%;
}
.prodottobestseller
{
	width: 98%;
	margin-left: 1%;
}
.imgbs
{
	width: 50%;
    margin-left: 30%;
}
#mobile
{
	background-color: #CCCCCC;
	height: 50vh;
}
.searchBar
{
	float: none;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.submit
{
	color: white;
	background-color: #004D66;
	border: 1px solid #004D66;
	cursor: pointer;
}
.imgbestseller
{
	margin-top: 1em;
	width: 50%;
	float: right;
}
.infobs
{
	width: 50%;
}
.dettaglio
{
	float: right;
}
