html {
    margin: 0;
    padding: 0;
    width:1350px;
}

body{
    width:1350px;
}

#logo{
    margin-top:1%;
    float:left;
    height: 3em;
    border:1px solid #232f3e;
}

body{
    height:100%;
}


#menu{
    border:1px solid #232f3e;
    height:5em;
    width:100%;
    background-color:cadetblue;
}

nav {
    margin-top:1%;
    height:3.5em;
    width:36em;
    margin-left:20%;
    padding:0;
    overflow: hidden;
    background-color:#232f3e;
    display:block;
    margin-right: 25%;
}

nav ul{
    margin:0;
    padding:0;
    width:100%;
}

nav ul li{
    height:1em;
    width:7em;
    margin:0;
    padding:0;
    list-style-type: none;
    display: inline; 
}

nav a{
    height:100%;
    width:5.3em;
    float: left;
    margin-top:0.25em;
    display: block;
    color: white;
    text-align: center;
    padding:0.67em 0.67em;
    font-size: 13pt;
    text-decoration: none;
}

nav a:hover{
    background-color:cornflowerblue;
    text-decoration: underline;
    color:black;
}

nav a:active{
    background-color:cornflowerblue;
    color:white;
}


#searchBar{
    min-width:20em;
    float:right;
    margin-top:-4%;
    width:25%;
    height: 3.5em;
}

#search {
    width:75%;
    margin-top:0.5em;
    border: 3px solid #232f3e;
    border-radius: 5px;
    padding: 0.3em;
    height: 1.5em;
    outline:none;
    font-size:12pt;
}

#searchButton{
    float:right;
    position:relative;
    right:0.8em;
    top:0.7em;
    padding: 5px;
    height:100%;
    min-width:2em;
    width:15%;
    margin:0;
    border: 3px solid #232f3e;
    background-color:#232f3e;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12pt; 
}


#breadcrumb{
    background-color:#232f3e;
    margin:2em 0;
    padding:0 0.5em;
    font-size:15pt;
    color:white;
}

#advSearch{
    border:2px solid #232f3e;
    padding:0.5em;
    width:35em;
    
}

section{
    margin-top:0.5em;
    padding: 0.5em;
}

#content1 {
    float:left;
    width:49%;
}

#content_prodotti{
    border:2px solid #232f3e;
    width:100%;
    background-color:cadetblue;
    
}



#content_prodotti .prodotto{
    background-color:#becbda;
    border:2px solid #232f3e;
    height:13em;
    margin:0.5em;
}

#content_prodotti .img{
    border:2px solid #232f3e;
    background-color:white;
    margin:0.5em;
    height:90%;
    width:20%;
}

#content_prodotti .img img{
    float:left;
    max-height:100%;
    max-width:100%;
}

#content_prodotti .nome{
    margin-top:-8em;
    margin-left:25%;
    width:50%;
    font-size:18pt;
}

#content_prodotti .descrizione{
    margin-top:1em;
    margin-left:25%;
    height:40%;
    width:60%;
}

#content_prodotti .categoria{
    position:relative;
    right:15%;
    top:-11%;
    float:right;
    font-weight:bold;
    color:#232f3e;
    font-size:14pt;
    
}

#content_prodotti .valutazione{
    float:right;
    position:relative;
    right:60%;
    top:10%;
    font-size:16pt;
    font-weight:bold;
    color:#232f3e;
}

#content_prodotti .prezzo{
    float:right;
    position:relative;
    right:30%;
    top:10%;
    font-size:16pt;
    font-weight:bold;
    color:#232f3e;
}


#content_prodotti .dettaglio{
    position:relative;
    margin-top:-2em;
    margin-left:88%;
    margin-right:1%;
    font-size:14pt;
}




#dettaglioProdotto{
    margin:0;
    width:100%;
    height:30em;
    border:2px solid #232f3e;
    background-color:#becbda;
}



#dettaglioProdotto .img{
    margin:1%;
    max-width:30%;
    max-height:100%;
}

#dettaglioProdotto .img img{
    float:left;
    max-width:100%;
    max-height:100%;
    border:2px solid #232f3e;
}




#dettaglioProdotto .nome{
    width:70%;
    margin-left:0.5em;
}

#dettaglioProdotto .descrizione{
    position:relative;
    float:right;
    top:-4em;
    left:-5%;
    padding:0.5em;
    width:60%;
    height:50%;
    font-size:14pt;

}

#dettaglioProdotto .prezzo{
    float:right;
    position:relative;
    right:-3em;
    top:14em;
    font-size:16pt;
    color:#232f3e;
    font-weight:bold;
}

#dettaglioProdotto .valutazione{
    float:right;
    position:relative;
    right:30%;
    top:14em;
    font-size:16pt;
    font-weight:bold;
    color:#232f3e;
}

#dettaglioProdotto .categoria{
    position:relative;
    right:4em;
    top:-4em;
    float:right;
    font-size:14pt;
    font-weight:bold;
    color:#232f3e;
}


#dettaglioProdotto .aggiungiCarrello{
    position:relative;
    left:40em;
    top:20em;
}




#recensioni{
    background-color:#becbda;
    width:100%;
    margin-top:1em;
    padding:0.5em;
    height:auto;
}

.dettRecensione{
    margin-top:1em;
    border:2px solid #232f3e;
    padding:1em;
    border-radius:5px;
}

.dettRecensione span{
    font-size:12pt;
    color:#232f3e;
    font-weight:bold;
    padding-right:1em;
    margin-bottom:1em;
}

.dettRecensione p{
    font-size:14pt;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



aside{
    width:49%;
    margin-left:50%;
    margin-top:0.5em;
    padding: 0.5em;   
}


table{
    border-collapse: collapse;
    border: 1px solid #232f3e;
    width: 100%;
}

table td{
    border: 1px solid #232f3e;
    padding: 0.5em;
}


table th {
    border: 1px solid #232f3e;
    padding: 0.8em 0 0.8em 0.5em;
    text-align: left;
    background-color:cadetblue;
    color: white;
}

#totale{
    text-align: right;
}

footer{
    margin:10% 0 0 0;
    display:block;
    padding: 0.5em;
    background-color:cadetblue;
    border:1px solid #232f3e;
}



footer img{
    float:right;
}


.login-page {
  width: 25em;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  background: #FFFFFF;
  max-width: 25em;
  margin:3% 35%;
  padding: 2.5em;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



.form input {
  outline: 0;
  background-color:#e6e6e6;
  width: 100%;
  border: 0;
  margin: 0 0 2em;
  padding: 1em;
  box-sizing: border-box;
  font-size: 12pt;
}


.form_submit:hover,.form_submit:active,.form_submit:focus {
  background: cornflowerblue;
    cursor: pointer;
}

.form .message {
  margin: 10% 0 0;
  color: #808080;
  font-size: 11pt;
}

.form .message a {
  color: #0080ff;
  text-decoration: underline;
}

.form .message a:hover {
  text-decoration: underline;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 20em;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 2em 0;
  padding: 0;
  font-size: 18pt;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 10pt;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

#prod{
     float:left;
     width:50%;
}

#bundle{
     float:right
     width 30%
}
#Bestsellers {
    max-height: 100%;
    max-width: 45%;
    background-color: cadetblue;
    border:2px solid #232f3e;
}
.prodottobestseller{
    background-color:#becbda;
    margin-top: 0.5em;
    border:2px solid #232f3e;
    width:100%;
    height: 7em;
}

.prodottobestseller .imgbestseller{
    float:left;
    background-color:white;
    height: 99%;
    width: 20%;
}

.prodottobestseller .imgbestseller img{
    max-height:100%;
    max-width:100%; 
}

.prodottobestseller .nomebestseller{
    float:left;
    position: relative;
    left:1em;
    top:0.5em;
    font-size:12pt;
    width:70%;
    
}

.prodottobestseller .categoriabestseller{
    position: relative;
    top:2.1em;
    left:1em;
    

}

.prodottobestseller .votobestseller{
    position: relative;
    top:1em;
    left:20em;
    
}

.prodottobestseller .prezzobestseller{
    position:relative;
    top:2em;
    left:12em;
    
}