#logo
{
	float: left;
	max-width: 10em;
	max-height: 100%;
	min-height: 100%;
}
.info
{
	float: left;
	width: 65%;
	border: 1px solid orange;
}
FOOTER
{
	margin-top: 2em;
}
.CSS
{
	width: 10%;
	float: left;
}
#avdancedSearch
{
	border: 1px solid black;
	padding: 1%;
	margin-bottom: 1%;
}
.prodotto
{
	border: 1px solid red;
	margin-bottom: 1%;
	padding: 1%;
}
.corsivo
{
	font-style: italic;
	text-align: center;
}
.bundle
{
	margin-bottom: 1em;
}
.nomebundle
{
	margin-bottom: 1em;
}
.img
{
	border: 1px solid green;
	width: 35%;
	margin-left: 65%;
}
#menu
{
	width: 100%;
	border: 1px solid #000000;
	background-color: #21ACF4;
	overflow: hidden;
}
.img IMG
{
	min-width: 80%;
	height: auto;
	border: 1px solid purple;
}
UL
{
	margin: 0;
	list-style-type: none;
	padding: 0;
}
.voci
{
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
	height: 100%;
}
#breadcrumb
{
	margin: 0;
	border: 1px solid #0E46E3;
}
#breadcrumb P
{
	margin: 0;
	padding-left: 1em;
}
.content
{
	width: 100%;
	border: 1px solid #E30E46;
	clear: both;
}
FOOTER
{
	border: 1px solid #070808;
}
#searchBar
{
	float: right;
	display: block;
	padding: 1em;
}
#LatestBundles
{
	float: left;
	width: 50%;
	border: 1px solid green;
}
#Bestsellers
{
	margin-left: 51%;
	border: 1px solid black;
}
BODY
{
	width: 100%;
	padding: 0;
	margin: 0;
}
IMG
{
	width: 20%;
}
HTML
{
	width: 100%;
	padding: 0;
	margin: 0;
}
#aggiuntaProd LABEL
{
	font-weight: bold;
	display: block;
}
FORM#aggiuntaProd
{
	text-align: center;
}
.formslot
{
	padding-bottom: 2em;
}
.imgbestseller
{
	width: 70%;
	float: right;
	height: 100%;
}
.imgbs
{
	float: right;
	margin-right: 30%;
}
.prezzobestseller
{
	padding-bottom: 1em;
}
