#logo
{
	float: left;
	max-height: 100%;
	max-width: 10em;
	min-width: 8.5em;
	width: 20%;
	border: 1px solid #CCCCCC;
}
.red
{
	color: red;
	text-align: center;
}
.dettRecensione
{
	background-color: #CCCCCC;
	padding: 1%;
}
#author
{
	width: 48%;
	float: left;
}
#timestamp
{
	width: 49%;
	float: none;
	margin-left: 50%;
}
#mobile
{
	display: none;
}
#creaBundle LABEL
{
	display: block;
	font-weight: bold;
}
#creaBundle
{
	text-align: center;
}
#products
{
	margin: 2% auto;
	border: 1px solid red;
	border-collapse: collapse;
	width: 90%;
}
#purchase
{
	margin: 2% auto;
	border-collapse: collapse;
	width: 90%;
}
#totale
{
	text-align: right;
	padding-right: 5%;
}
#acquista
{
}
TH, TD
{
	border: 2px solid black;
	width: 20%;
	padding: 1% 0;
	text-align: center;
}
.info
{
	float: left;
	width: 60%;
}
TABLE
{
	margin: 0 auto 2em auto;
	border-collapse: collapse;
}
THEAD, .tablehead
{
	background: #CCCCCC;
	border-color: #004D66;
}
TABLE TR TD, TH
{
	border-color: #004D66;
}
TABLE TD
{
	padding: 0.5em 1em;
}
.dettRecensione
{
	outline-style: outset;
	outline: thin solid #0C4A99;
	margin: 1em 0.5em;
	display: block;
}
.tablehead
{
	position: sticky;
	top: 0;
}
.dettRecensione P
{
	margin-top: 1em;
	font-style: italic;
}
#dettaglioProdotto
{
	overflow: auto;
}
FOOTER
{
	margin-top: 2em;
	margin-bottom: 1em;
}
.CSS
{
	width: 10%;
	float: left;
}
#avdancedSearch
{
	border: 1px solid #004D66;
	padding: 1%;
	margin-bottom: 1%;
}
.prodotto
{
	border: 1px solid #004D66;
	margin-bottom: 1%;
	padding: 1%;
	overflow: auto;
	background-color: #CCCCCC;
}
.corsivo
{
	font-style: italic;
	text-align: center;
}
.bundle
{
	padding-bottom: 1em;
	background-color: white;
	margin-bottom: 1em;
}
.nomebundle
{
	margin-bottom: 1em;
}
.img
{
	width: 25%;
	margin-left: 70%;
}
.imgc
{
	width: 15%;
	margin-left: 80%;
}
#menu
{
	width: 100%;
	/*border: 1px solid #000000;*/
	background-color: #CCCCCC;
	overflow: hidden;
}

#aiuto{
    position:fixed;
    top:90%;
    left:90%;
    display:block;
}

#torna{
    width:3.5em;
}

.img IMG
{
	min-width: 80%;
	height: auto;
	width: 20%;
	border: 1px solid #004D66;
}
.imgc IMG
{
	width: 100%;
	border: 1px solid #004D66;
}
.imgdettagli IMG
{
	float: left;
	width: 35%;
	border: 1px solid #004D66;
	margin-right: 1%;
}
#europrezzo
{
	font-size: 1.5em;
	font-weight: bold;
}
.dettInfo
{
	margin-left: 35%;
	margin-bottom: 1em;
}
UL
{
	margin: 0;
	list-style-type: none;
	padding: 0;
}
.voci
{
	display: block;
	padding: 1em;
	text-align: center;
	float: left;
	height: 100%;
}
#breadcrumb
{
	margin: 1% auto;
	width: 100%;
	background-color: #CCCCCC;
}
.login-form
{
	width: 40%;
	padding: 1em;
	text-align: center;
	border: 1px solid #004D66;
	margin: 2em auto 0 auto;
	background-color: #CCCCCC;
}
.user
{
	padding-bottom: 1em;
}
.psw
{
	padding-bottom: 1em;
}
#mail
{
	padding-bottom: 1em;
}
#email
{
	max-width: 100%;
}
.submit
{
	color: white;
	background-color: #004D66;
	border: 1px solid #004D66;
	cursor: pointer;
}
#submit_form
{
	margin-bottom: 1em;
}
A:hover
{
	text-decoration: none;
}
A:link
{
	color: #004D66;
}
#pass
{
	max-width: 100%;
}
#nome_utente
{
	max-width: 100%;
}
#breadcrumb P
{
	margin: 0;
	padding-left: 1em;
}
.content
{
	width: 100%;
	overflow: auto;
}
FOOTER
{
	background-color: #CCCCCC;
}
.searchBar
{
	float: right;
	display: block;
	padding: 1em;
}
#LatestBundles
{
	float: left;
	width: 48%;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #CCCCCC;
	border: 1px solid white;
}
#Bestsellers
{
	margin-left: 51%;
	border: 1px solid white;
	padding-left: 1%;
	padding-right: 1%;
	background-color: #CCCCCC;
}
BODY
{
	width: 100%;
	padding: 0;
	margin: auto;
}
IMG
{
	/*width: 20%;*/
}
HTML
{
	padding: 0;
	max-width: 1024px;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
	margin: auto;
}
#aggiuntaProd LABEL, #modificaProd LABEL
{
	font-weight: bold;
	display: block;
}
FORM#aggiuntaProd, #modificaProd
{
	text-align: center;
}
#nome
{
	width: 50%;
	min-width: 20em;
}
#descrizione
{
	height: 8em;
	width: 50%;
	min-width: 20em;
}
.formslot
{
	padding-bottom: 2em;
}
.imgbestseller
{
	width: 40%;
	float: right;
	margin-top: 1em;
}
.imgbs
{
	width: 50%;
}
.prodottobestseller
{
	background-color: white;
	margin-bottom: 1em;
	overflow: auto;
}
.prezzobestseller
{
	padding-bottom: 1em;
}
P
{
	margin: 0;
}
.descrizionebundle
{
	margin-top: 1em;
}
.infobs
{
	width: 50%;
}
#recensione
{
	text-align: center;
}
#rec
{
	margin-bottom: 1em;
}
